body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.mone{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(222, 217, 228);
    z-index: 2;
    padding: 10px;
   
}
.b1{
  position: relative;
  bottom: 00px ;
  top: 12px;
  right: 8px;
  cursor: pointer;

}
.mene1{
  position: relative;
  width: 70px;
  height: 70px;
  top: -60px;
;
   border: 5px solid  wheat;
   border-radius: 100%;
}
.box-img{
    position: relative;
    right: 0%;
    width: 100px;
    bottom: 90px;
    background-color: aliceblue;
    
}
h1{
    position: relative;
    margin: 0;
    right:5%;
     top: 0;
     bottom: 0px;
     bottom: 0px;
}
img{
    position: relative;
    bottom: 75px;
    left: 950px;
  width: 80px;
}
.box1{
    position: relative;
    width: 850px;
    height: 800px;
    background-color: brown;
    margin:  0 auto;
    top: 150px;
    border-radius: 20px;
    z-index: 1;
    background-image: url("../m/1000000792.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
.tex1{
    position: relative;
    width: 1200px;
    height: 800px;
  
    margin: 0 auto;
    top: 180px;
    right: 80px;
    color: white;
}

.text-style{
    position: relative;
    width: 400px;
    font-size: 40px;
      right:89px;
padding: 25px;
}
p{
  
    font-size: 35px;
  font-weight: 900;
  margin-top: 90px;
  margin-right: 89px;
   
}
.text-style1{
      position: relative;
    width: 900px;
    font-size: 40px;
      right: 110px;
      top: 20px;
   
}
svg{
  width: 50px;
  position: relative;
  color: rgb(48, 170, 0);
  bottom: 110px;
  right: 90%;
}
.late{
  position: relative;
  width: 300px;
  height: 80px;
  padding: 5px ;
  background-color: white;
  margin-left: 20px;
  border-radius: 50px;
  bottom: 150px;
  overflow: hidden;
 margin-right:710px ;
}
.late1{
  width: 200px;
  height: 72px;
  background-color: rgb(0, 0, 0);
  margin-left: 90px;
  padding: 5px;
  border-radius: 35px;
  transition: 0.5s;
  text-align: center;
  
}
span{
 text-align: center;
  font-size: 50px;
}
.late1:hover{
  width: 290px;
  height: 72px;
  background-color: rgb(155, 0, 0);
  margin-left: 90px;
  padding: 5px;
  border-radius: 35px;
  
}
a{
  color: white;
  text-decoration: none;
}
.abut-me{
  font-size: 40px;
  margin-right: 710px;
  color: white;
}
.abut-me::after{
  content: "";
  position: relative;
  width: 800px;
  height: 2px;
  border-bottom: 5px solid rgb(104, 100, 100);
  display: block;
  bottom: 20px;
  right: 192px;

}
.zban{
  color: white;
  margin-right: 710px;
  font-weight: 400;
}
 .cantiner2{
  margin: 0 auto;
  width: 1100px;
  height: 400px;

 }
                          
 .ul-1{
  width: 900px; 
  height: 80px;

  color: white;
 
 }
 ul{
  display: flex;
  padding: 15px;
  border: 1px solid white;
  background-color: rgb(33, 3, 34);
 }
 li{
   list-style-type: none;
   font-size: 25px;
   margin: 5px;
   padding: 5px;
 }
 .s1{
   font-size: 30px;
 }
 .mah2::after{
  content: "";
  position: relative;
  width: 800px;
  height: 2px;
  border-bottom: 5px solid rgb(104, 100, 100);
  display: block;
  bottom: 20px;
  right: 192px;
 }
 .mah2{
  color: rgb(245, 4, 4);
  font-size: 40px;
 }
.mah3{
  color: white;
   margin-bottom: -60px;
   margin-right: 150px;
  
}
.mah4{
  color: white;
  margin-top: 52px;
  margin: 95px;
  margin-left:700px;
}
.style-s1::after{
  content: "";
  position: relative;
  width: 520px;
  height: 100%;
  border-bottom: 5px solid rgb(136, 112, 112);
  display: block;
  bottom: 3555px;
  right: 192px;
  transform: rotate(90deg);
  z-index: 1;

}

.style-s2::after{
  content: "";
  position: relative;
  width: 10px;
  height: 10px;
  outline: 5px solid rgb(189, 14, 14);
  display: block;
  bottom: 370px;
  right: 192px;
  transform: rotate(90deg);
 margin-right: 255px;
  bottom: 615px;
z-index: 2;
border-radius: 100%;

}
.mah{
  margin: 50px;
  width: 1500px;
  padding: 5px;
}
.mah5{
    color: rgb(245, 4, 4);
  font-size: 40px;
  margin-top: 150px;
}
.mah5::after{
    content: "";
  position: relative;
  width: 800px;
  height: 2px;
  border-bottom: 5px solid rgb(104, 100, 100);
  display: block;
  bottom: 20px;
  right: 192px;
}
.mhart-ha{
  position: relative;
  width: 1200px;
  height: 500px;
 margin: 0 auto;
 padding: 25px;
 overflow: hidden;
 top: 50px;
 left: 190px;
 z-index: 1;



}
.mhart-ha1{
  position: relative;
  width: 160px;
  height: 150px;
  cursor: pointer;
  background-color: rgb(34, 35, 36);
 float: left;
 margin: 15px;
 flex-wrap: wrap;
 margin-left: 20px; 
 
}
.nazar{
  position: relative;
  width: 900px;
  height: 400px;
  border: 3px solid rgb(43, 40, 40);
  background-color: rgb(27, 27, 27);
  margin: 0 auto;
  margin-right: 20px;
  padding: 15px;
  border-radius: 25px;
}
.trxt-a{
  font-weight: 900;
  color: white;
  font-size: 40px;
}
.insta1{
 position: relative;
top: 35px;
 z-index: 2;
}
.insta2{
 position: relative;
top: 35px;
left: 560px;
 z-index: 2;
 width: 50%;
}
.mone5{
position: relative;
  width: 500px;
  height: 5000px;
  color: black;
  bottom: 2290px;
  background-color: aliceblue;
 opacity:0;
 visibility: hidden;

}
.u1{
  background:none;
  color: black;
  display: block;
 
}
.l2{
  list-style-type: none;
  color: black;
  font-size: 40px;
  margin: 20px;
  padding: 25px;
  font-weight: 900;
}
#l1{
  text-decoration: none;

 
}
.nazar::after{
  content: "" ;
position: relative;
display: block;
width:900px;
height: 5px;
background-color: rgb(48, 51, 50);
align-items: baseline;
top: 80px;

}
.style-s3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  bottom: 20px;
  border-radius: 100%;
 border: 3px solid red; 
}
h4{
  position: absolute;
  font-size: 40px;
  color: white;
  bottom: 10px;
  left: 540px;

}
h6{
  position: absolute;
  font-size: 30px;
  color: white;
  bottom:-40px;
  left: 650px;

}

.mah6{
  position: relative;
  color: red;
  font-size: 50px;
  right: 30px;
  top: 60px;
}
.nazar1{
  position: relative;
  width: 900px;
  height: 400px;
  border: 3px solid rgb(43, 40, 40);
  background-color: rgb(27, 27, 27);
  margin: 0 auto;
  margin-right: 20px;
  padding: 15px;
  border-radius: 25px;
  border-right: 25px solid red;
  margin: 15px;
  padding:35px;
}
.tex-m{
   color: white;
   font-size: 40px;
   font-weight: 800;
   margin-right: 80px;
}
.text-m1{
  position: relative;
  color: white;
   font-size: 45px;
   padding: 10px;
   text-align: center;
  top: 90px;

}